# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of commonly used libraries
- Table of popular Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Scala
5. Java
6. Julia
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow

| Data Science Tools| 
| ---------- |
| Jupyter |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ivan Lisovsky